.home-component {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

    #home-container-1 {
        display: flex;
        width: 80%;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        flex-wrap: wrap;

        .left-container {
            font-family: "Montserrat", sans-serif;
            box-sizing: border-box;

            span {
                color: #5CE1E6;
            }

            a {
                background: linear-gradient(45deg, #FF5F6D, #FFC371);
                border-radius: 30px;
                font-size: 25px;
                padding: 10px 20px;
                text-decoration: none;
                color: #0A2540;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

            * {
                font-size: 54px;
                @media (max-width:600px) {
                    font-size: 37px;
                }
            }

        }

        .right-container {
            box-sizing: border-box;

            img {
                box-sizing: border-box;

            }
        }
        @media (max-width:1260px) {
            flex-direction: column;
            justify-content: center;
            height: auto;
            gap: 50px;
            width: 100%;
            padding: 20px 20px;
        }
        
    }
}