.navbar {
    height: 100px;
    background-color: #fff;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    background: linear-gradient(45deg, #6B00E6, #8990E0, #000000);
    box-sizing: border-box;
    overflow: hidden;

    img {
        height: 100%;
        box-sizing: border-box;

    }

    .navitem {
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
        box-sizing: border-box;
        color: white;
        text-shadow: 0 0 10px rgba(#8A2BE2, 0.8);
        transition: all 0.5s ease-in-out;

        li {
            text-decoration: none;
            color: #333;
            font-size: 1.1rem;
            font-weight: 500;
            position: relative;

            &:hover {
                color: #f1356d;
            }

            * {
                text-decoration: none;
                color: #D3D3D3;

                &::before {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 2px;
                    background: #D3D3D3;
                    bottom: 0px;
                    transition: all 0.1s ease-in-out;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }

            }
        }

        @media (max-width:768px) {
            flex-direction: column;
            position: fixed;
            top: 70px;
            right: 0px;
            padding: 20px;
            align-items: flex-start;
            color: white;
            text-shadow: 0 0 10px rgba(#8A2BE2, 0.8);
            background: linear-gradient(45deg, #6B00E6, #8990E0, #000000);
            height: 100vh;
        }
    }



    @media (max-width:768px) {
        height: 70px;
        padding: 0 30px;

        .passive {
            transform: translateX(300px);
        }

        .active {
            transform: translate(0px);
        }
    }
}